@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: CanvasText;
  background-color: Canvas;
}

html {
  scroll-behavior: smooth;
}

.custom-height {
  height: calc(100vh - 166px);
}

@media (max-width: 400px) {
  .custom-height {
    height: calc(100vh - 185px);
  }
}

@media (max-width: 475px) {
  .style-scroll::-webkit-scrollbar {
    display: none;
  }

  .style-scroll {
    scrollbar-width: none;
  }

  .style-scroll {
    -ms-overflow-style: none;
  }
}

@media (min-width: 675px) {
  .style-scroll::-webkit-scrollbar {
    display: none;
  }

  .style-scroll {
    scrollbar-width: none;
  }

  .style-scroll {
    -ms-overflow-style: none;
  }
}

@media (min-width: 474px) and (max-width: 674px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.style-border {
  box-shadow: inset 0 0 8px 0.82px rgba(255, 255, 255, 0.25);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.25));
  background-image: radial-gradient(#000, #00000000);
}
