@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: CanvasText;
  background-color: Canvas;
}

body {
  display: flex;
  flex-direction: column;
}
